# Create split files

## Read files

### Demographic file

In [4]:
import os
import pandas as pd


demoDf = pd.read_csv(os.environ['EHR_INT_ANALYSIS_BASE'] + '/data/case_study_1/data_matrix_demographics.csv')
demoDf

     patient_id gender  birth_date
0         41308   male  1945-09-16
1         56749   male  1945-09-16
2         64921   male  1945-09-16
3         77432   male  1945-09-16
4        110792   male  1945-09-16
..          ...    ...         ...
300     2504345   male  1945-09-16
301     2514472   male  1945-09-16
302     2522101   male  1945-09-16
303     2526402   male  1945-09-16
304     2526936   male  1945-09-16

[305 rows x 3 columns]

### Measurement file

In [30]:
import os
import pandas as pd


measurementsDf = pd.read_csv(os.environ['EHR_INT_ANALYSIS_BASE'] + '/data/case_study_1/data_matrix_final.csv')
measurementsDf

,measurement_date,vitals_ALP_avg,vitals_ALT_avg,vitals_Albumin_avg,vitals_Basophils_avg,vitals_Bicarbonate_avg,vitals_Bilirubin_avg,vitals_Calcium_avg,vitals_Chloride_avg,vitals_Creatinine_avg,...,vitals_SystolicBloodPressureCuff_avg,vitals_DiastolicBloodPressureCuff_avg,vitals_MeanArterialPressureCuff_avg,person_id,los_gt_7_days,los_gt_14_days,los_gt_30_days,los_gt_60_days,los_gt_90_days,admittime
0,2021-05-31,200.000000,25.000000,26.000000,0.04,26.0,11.000000,2.191763,103.388509,85.0,...,121.0,55.0,82.000000,41308,0,0,0,0,0,2021-05-31
1,2020-11-24,58.000000,13.000000,35.000000,0.02,28.0,5.000000,2.220000,102.000000,91.0,...,150.0,87.0,104.000000,56749,1,1,1,0,0,2021-07-30
2,2021-07-29,125.000000,354.000000,30.000000,0.02,29.0,10.000000,2.390000,103.388509,103.0,...,191.0,85.0,122.000000,56749,1,1,1,0,0,2021-07-30
3,2021-07-30,107.000000,264.000000,26.000000,0.03,26.0,8.000000,2.200000,103.000000,101.0,...,132.0,57.0,113.000000,56749,1,1,1,0,0,2021-07-30
4,2021-07-31,127.025688,35.740125,27.285302,0.01,27.0,16.974972,2.220000,106.000000,103.0,...,123.0,56.0,114.000000,56749,1,1,1,0,0,2021-07-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9725,2021-08-17,127.025688,35.740125,27.285302,0.01,33.0,16.974972,2.180000,98.000000,68.0,...,147.0,89.0,84.952515,2526936,1,1,1,0,0,2021-08-15
9726,2021-08-18,188.000000,8.000000,19.000000,0.04,30.0,13.000000,2.150000,101.000000,58.0,...,165.0,85.0,106.000000,2526936,1,1,1,0,0,2021-08-15
9727,2021-08-19,176.000000,8.000000,20.000000,0.02,27.0,15.000000,2.290000,100.000000,53.0,...,177.0,91.0,107.000000,2526936,1,1,1,0,0,2021-08-15
9728,2021-08-21,127.025688,35.740125,27.285302,0.03,29.0,16.974972,2.191763,99.000000,61.0,...,161.0,94.0,113.000000,2526936,1,1,1,0,0,2021-08-15
9729,2021-08-23,127.025688,35.740125,27.285302,0.04,29.0,16.974972,2.191763,99.000000,62.0,...,129.0,78.0,93.000000,2526936,1,1,1,0,0,2021-08-15

### Genomics file

In [24]:
import os
import pandas as pd


genomicsDf = pd.read_csv(os.environ['EHR_INT_ANALYSIS_BASE'] + '/data/case_study_1/genomics/data_matrix_genomics.csv')
genomicsDf

    patient_id   tube_id                                              token
0     P1014326  AH19I035  C, TTAAAGTTACGTT, TTTTGGAATTAAC, GTTGAC, ATATT...
1     P1023735  AH20L041  TAATATT, CAA, TCTCT, TTTATTCTACTTCA, TTTGTTT, ...
2     P1025623  AH19I040  TATTAA, CATT, TAAGTCA, ACAACT, TTTTAAAA, TTAAT...
3     P1031912  AH20L029  ACTTAAA, GTTACGT, TTTTTGG, AATTA, ACGTTGA, CAT...
4     P1196189  AH20L010  CTTA, GTATAA, TTAAAGAATACCTC, C, CCTCCT, CCATC...
..         ...       ...                                                ...
189    P635723  AH18K044  CTT, AGTA, TAATTAAA, GAATACCT, CCCCT, CCTC, CA...
190    P677694  AH20F012  TCGC, CATCA, CCTTCATACAGTTTG, AAGTCA, TATTT, A...
191    P681070  AH18K062  TT, AAAAAAATATCGC, TCCAA, GATTATG, ACAA, CATAA...
192    P745962  AH19J028  AAAACA, GGCTTA, CTTCAT, ATAATTT, ATGAAA, TAAAC...
193    P912828  AH21A010  TTA, TTAATCGTT, TTAGA, GTAAATCC, TAATAC, TGATG...

[194 rows x 3 columns]

In [25]:
genomicsDf.patient_id = genomicsDf.patient_id.apply(lambda x: x[1:]).astype('int64')
genomicsDf

     patient_id   tube_id                                              token
0       1014326  AH19I035  C, TTAAAGTTACGTT, TTTTGGAATTAAC, GTTGAC, ATATT...
1       1023735  AH20L041  TAATATT, CAA, TCTCT, TTTATTCTACTTCA, TTTGTTT, ...
2       1025623  AH19I040  TATTAA, CATT, TAAGTCA, ACAACT, TTTTAAAA, TTAAT...
3       1031912  AH20L029  ACTTAAA, GTTACGT, TTTTTGG, AATTA, ACGTTGA, CAT...
4       1196189  AH20L010  CTTA, GTATAA, TTAAAGAATACCTC, C, CCTCCT, CCATC...
..          ...       ...                                                ...
189      635723  AH18K044  CTT, AGTA, TAATTAAA, GAATACCT, CCCCT, CCTC, CA...
190      677694  AH20F012  TCGC, CATCA, CCTTCATACAGTTTG, AAGTCA, TATTT, A...
191      681070  AH18K062  TT, AAAAAAATATCGC, TCCAA, GATTATG, ACAA, CATAA...
192      745962  AH19J028  AAAACA, GGCTTA, CTTCAT, ATAATTT, ATGAAA, TAAAC...
193      912828  AH21A010  TTA, TTAATCGTT, TTAGA, GTAAATCC, TAATAC, TGATG...

[194 rows x 3 columns]

### LOS file

In [54]:
import os
import pandas as pd


losDf = pd.read_csv(os.environ['EHR_INT_ANALYSIS_BASE'] + '/data/case_study_1/los_labels.csv')
losDf

,person_id,los_gt_7_days,los_gt_14_days,los_gt_30_days,los_gt_60_days,los_gt_90_days
0,2133327,1,1,1,1,1
1,2197822,0,0,0,0,0
2,2138701,1,1,1,1,1
3,330958,1,1,1,1,1
4,2189657,1,1,1,1,0
...,...,...,...,...,...,...
3686,2354602,0,0,0,0,0
3687,294459,0,0,0,0,0
3688,2240165,1,1,0,0,0
3689,2514680,1,1,1,0,0
3690,2449953,1,0,0,0,0

In [63]:
losDf = losDf.groupby(['person_id']).first().reset_index()
losDf

,person_id,los_gt_7_days,los_gt_14_days,los_gt_30_days,los_gt_60_days,los_gt_90_days
0,18849,0,0,0,0,0
1,41308,0,0,0,0,0
2,50056,0,0,0,0,0
3,51211,0,0,0,0,0
4,51541,1,0,0,0,0
...,...,...,...,...,...,...
2530,2678697,1,1,0,0,0
2531,2679272,1,1,0,0,0
2532,2680486,1,0,0,0,0
2533,2682433,0,0,0,0,0
2534,2684042,1,1,0,0,0

## Get common IDs

In [27]:
mergedDf = demoDf.merge(
    measurementsDf['person_id'],
    how='inner',
    left_on='patient_id',
    right_on='person_id'
).drop_duplicates().drop(
    columns=['person_id']
).merge(
    genomicsDf[['patient_id']],
    how='inner',
    on='patient_id'
).drop(
    columns=['gender', 'birth_date']
)
mergedDf

     patient_id
0        211314
1        296270
2        339352
3        633806
4        634545
..          ...
147     2273915
148     2416190
149     2421109
150     2432151
151     2440791

[152 rows x 1 columns]

## Save splits

### Measurements

In [37]:
from pathlib import Path

from sklearn.model_selection import train_test_split


for wb, wa in [(365, 0), (365, 1), (365, 2), (365, 3)]:
    
    measurementsMergedDf = measurementsDf.merge(
        mergedDf,
        how='inner',
        left_on='person_id',
        right_on='patient_id'
    ).drop(
        columns=['patient_id']
    )
    
    measurementsMergedDf['measurement_date'] = pd.to_datetime(measurementsMergedDf['measurement_date'], format='%Y/%m/%d')
    measurementsMergedDf['admittime'] = pd.to_datetime(measurementsMergedDf['admittime'], format='%Y/%m/%d')

    measurementsMergedDf = measurementsMergedDf[(measurementsMergedDf['measurement_date'] >= (measurementsMergedDf['admittime'] - pd.Timedelta(days=wb))) & (measurementsMergedDf['measurement_date'] <= (measurementsMergedDf['admittime'] + pd.Timedelta(days=wa)))]
    measurementsMergedDf = measurementsMergedDf[measurementsMergedDf.person_id.isin(measurementsMergedDf[measurementsMergedDf.measurement_date == measurementsMergedDf.admittime].person_id.unique())]

    dropColumns = ['los_gt_7_days', 'los_gt_14_days', 'los_gt_30_days', 'los_gt_60_days', 'los_gt_90_days']
    filteredColumns = measurementsMergedDf.filter(dropColumns)
    measurementsMergedDf = measurementsMergedDf.drop(filteredColumns, axis=1)

    measurementsMergedDf = measurementsMergedDf.sort_values(by=['admittime'])
    idsDf = measurementsMergedDf[['person_id']].drop_duplicates()
    trainIdsDf, tempIdsDf = train_test_split(idsDf, train_size=0.85, shuffle=False, random_state=None)
    trainDataDf = measurementsMergedDf.merge(trainIdsDf, how='inner', on=['person_id'])
    validIdsDf, testIdsDf = train_test_split(tempIdsDf, test_size=0.66, shuffle=False, random_state=None)
    testDataDf = measurementsMergedDf.merge(testIdsDf, how='inner', on=['person_id'])
    validDataDf = measurementsMergedDf.merge(validIdsDf, how='inner', on=['person_id'])
    evaluateDataDf = measurementsMergedDf.merge(tempIdsDf, how='inner', on=['person_id'])
    splitsDirPath = Path(os.environ['EHR_INT_ANALYSIS_BASE'] + '/data/case_study_1/wb_' + str(wb) + '_wa_' + str(wa) + '/splits')
    measurementsPath = Path(splitsDirPath, 'measurements')
    measurementsPath.mkdir(parents=True, exist_ok=True)
    trainDataDf.to_csv(Path(measurementsPath, 'normal_train.csv'), index=False, sep='\t')
    testDataDf.to_csv(Path(measurementsPath, 'normal_test.csv'), index=False, sep='\t')
    validDataDf.to_csv(Path(measurementsPath, 'normal_validate.csv'), index=False, sep='\t')
    evaluateDataDf.to_csv(Path(measurementsPath, 'normal_evaluate.csv'), index=False, sep='\t')

### Demographics

In [52]:
from pathlib import Path


for wb, wa in [(365, 0), (365, 1), (365, 2), (365, 3)]:

    splitsDirPath = Path(os.environ['EHR_INT_ANALYSIS_BASE'] + '/data/case_study_1/wb_' + str(wb) + '_wa_' + str(wa) + '/splits')
    measurementsPath = Path(splitsDirPath, 'measurements')
    demographicsPath = Path(splitsDirPath, 'demographics')
    demographicsPath.mkdir(parents=True, exist_ok=True)

    trainIdsDf = pd.read_csv(Path(measurementsPath, 'normal_train.csv'), sep='\t')[['person_id']].drop_duplicates()
    testIdsDf = pd.read_csv(Path(measurementsPath, 'normal_test.csv'), sep='\t')[['person_id']].drop_duplicates()
    validIdsDf = pd.read_csv(Path(measurementsPath, 'normal_validate.csv'), sep='\t')[['person_id']].drop_duplicates()
    evaluateIdsDf = pd.read_csv(Path(measurementsPath, 'normal_evaluate.csv'), sep='\t')[['person_id']].drop_duplicates()

    trainDataDf = demoDf.merge(
        trainIdsDf[['person_id']],
        how='inner',
        left_on='patient_id',
        right_on='person_id'
    ).drop(
        columns=['person_id']
    )
    trainDataDf.to_csv(Path(demographicsPath, 'normal_train.csv'), index=False, sep='\t')

    testDataDf = demoDf.merge(
        testIdsDf[['person_id']],
        how='inner',
        left_on='patient_id',
        right_on='person_id'
    ).drop(
        columns=['person_id']
    )
    testDataDf.to_csv(Path(demographicsPath, 'normal_test.csv'), index=False, sep='\t')

    validateDataDf = demoDf.merge(
        validIdsDf[['person_id']],
        how='inner',
        left_on='patient_id',
        right_on='person_id'
    ).drop(
        columns=['person_id']
    )
    validateDataDf.to_csv(Path(demographicsPath, 'normal_validate.csv'), index=False, sep='\t')

    evaluateDataDf = demoDf.merge(
        evaluateIdsDf[['person_id']],
        how='inner',
        left_on='patient_id',
        right_on='person_id'
    ).drop(
        columns=['person_id']
    )
    evaluateDataDf.to_csv(Path(demographicsPath, 'normal_evaluate.csv'), index=False, sep='\t')

### Genomics

In [58]:
from pathlib import Path


for wb, wa in [(365, 0), (365, 1), (365, 2), (365, 3)]:

    splitsDirPath = Path(os.environ['EHR_INT_ANALYSIS_BASE'] + '/data/case_study_1/wb_' + str(wb) + '_wa_' + str(wa) + '/splits')
    measurementsPath = Path(splitsDirPath, 'measurements')
    genomicsPath = Path(splitsDirPath, 'genomics')
    genomicsPath.mkdir(parents=True, exist_ok=True)

    trainIdsDf = pd.read_csv(Path(measurementsPath, 'normal_train.csv'), sep='\t')[['person_id']].drop_duplicates()
    testIdsDf = pd.read_csv(Path(measurementsPath, 'normal_test.csv'), sep='\t')[['person_id']].drop_duplicates()
    validIdsDf = pd.read_csv(Path(measurementsPath, 'normal_validate.csv'), sep='\t')[['person_id']].drop_duplicates()
    evaluateIdsDf = pd.read_csv(Path(measurementsPath, 'normal_evaluate.csv'), sep='\t')[['person_id']].drop_duplicates()

    trainDataDf = genomicsDf.merge(
        trainIdsDf[['person_id']],
        how='inner',
        left_on='patient_id',
        right_on='person_id'
    ).drop(
        columns=['person_id']
    )
    trainDataDf.to_csv(Path(genomicsPath, 'normal_train.csv'), index=False, sep='\t')

    testDataDf = genomicsDf.merge(
        testIdsDf[['person_id']],
        how='inner',
        left_on='patient_id',
        right_on='person_id'
    ).drop(
        columns=['person_id']
    )
    testDataDf.to_csv(Path(genomicsPath, 'normal_test.csv'), index=False, sep='\t')

    validateDataDf = genomicsDf.merge(
        validIdsDf[['person_id']],
        how='inner',
        left_on='patient_id',
        right_on='person_id'
    ).drop(
        columns=['person_id']
    )
    validateDataDf.to_csv(Path(genomicsPath, 'normal_validate.csv'), index=False, sep='\t')

    evaluateDataDf = genomicsDf.merge(
        evaluateIdsDf[['person_id']],
        how='inner',
        left_on='patient_id',
        right_on='person_id'
    ).drop(
        columns=['person_id']
    )
    evaluateDataDf.to_csv(Path(genomicsPath, 'normal_evaluate.csv'), index=False, sep='\t')

### Create labels

#### LOS

In [64]:
from pathlib import Path


for wb, wa in [(365, 0), (365, 1), (365, 2), (365, 3)]:

    splitsDirPath = Path(os.environ['EHR_INT_ANALYSIS_BASE'] + '/data/case_study_1/wb_' + str(wb) + '_wa_' + str(wa) + '/splits')
    measurementsPath = Path(splitsDirPath, 'measurements')
    losPath = Path(splitsDirPath, 'los')
    losPath.mkdir(parents=True, exist_ok=True)

    trainIdsDf = pd.read_csv(Path(measurementsPath, 'normal_train.csv'), sep='\t')[['person_id']].drop_duplicates()
    testIdsDf = pd.read_csv(Path(measurementsPath, 'normal_test.csv'), sep='\t')[['person_id']].drop_duplicates()
    validIdsDf = pd.read_csv(Path(measurementsPath, 'normal_validate.csv'), sep='\t')[['person_id']].drop_duplicates()
    evaluateIdsDf = pd.read_csv(Path(measurementsPath, 'normal_evaluate.csv'), sep='\t')[['person_id']].drop_duplicates()

    trainDataDf = losDf.merge(
        trainIdsDf[['person_id']],
        how='inner',
        on='person_id'
    )
    
    for los in [7, 14, 30, 60, 90]:
        trainDataDf[['person_id', 'los_gt_' + str(los) + '_days']]\
            .to_csv(Path(losPath, 'los_gt_' + str(los) + '_days_normal_train.csv'), index=False, sep='\t')

    testDataDf = losDf.merge(
        testIdsDf[['person_id']],
        how='inner',
        on='person_id'
    )

    for los in [7, 14, 30, 60, 90]:
        testDataDf[['person_id', 'los_gt_' + str(los) + '_days']]\
            .to_csv(Path(losPath, 'los_gt_' + str(los) + '_days_normal_test.csv'), index=False, sep='\t')

    validateDataDf = losDf.merge(
        validIdsDf[['person_id']],
        how='inner',
        on='person_id'
    )

    for los in [7, 14, 30, 60, 90]:
        validateDataDf[['person_id', 'los_gt_' + str(los) + '_days']]\
            .to_csv(Path(losPath, 'los_gt_' + str(los) + '_days_normal_validate.csv'), index=False, sep='\t')

    evaluateDataDf = losDf.merge(
        evaluateIdsDf[['person_id']],
        how='inner',
        on='person_id'
    )

    for los in [7, 14, 30, 60, 90]:
        evaluateDataDf[['person_id', 'los_gt_' + str(los) + '_days']]\
            .to_csv(Path(losPath, 'los_gt_' + str(los) + '_days_normal_evaluate.csv'), index=False, sep='\t')