# Merge Genomic Files

## Merge individual genomic files

In [26]:
import os

import pandas as pd

genomicDataDir = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/genomics/'

i = 0
dfs = []

for file in os.listdir(genomicDataDir):
    if file.endswith('.csv'):
        df = pd.read_csv(genomicDataDir + file)
        df = df.dropna()
        dfs.append(df[['patient_id', 'tube_id', 'token']])

print(len(dfs))

232

In [27]:
mergedDf = pd.concat(dfs)
mergedDf

       patient_id   tube_id           token
1        P2221447  AH19E065         AACAGAA
2        P2221447  AH19E065   CAATTGATCGTGC
3        P2221447  AH19E065             GTT
4        P2221447  AH19E065           CACCT
5        P2221447  AH19E065  CTGCCAATAATAGT
...           ...       ...             ...
447945   P2148982  AH19C025           AAACC
447946   P2148982  AH19C025         CCAACTA
447947   P2148982  AH19C025         CTGGTAA
447948   P2148982  AH19C025           TAGTC
447949   P2148982  AH19C025           GGGGT

[108906004 rows x 3 columns]

## Group the tokens for patient and tube ids

In [33]:
groupedDf = mergedDf.groupby(['patient_id', 'tube_id']).agg({i:lambda x: ', '.join(list(x)) for i in mergedDf.columns[2:]}).reset_index()
groupedDf

    patient_id   tube_id                                              token
0     P1014326  AH19I035  C, TTAAAGTTACGTT, TTTTGGAATTAAC, GTTGAC, ATATT...
1     P1023735  AH20L041  TAATATT, CAA, TCTCT, TTTATTCTACTTCA, TTTGTTT, ...
2     P1025623  AH19I040  TATTAA, CATT, TAAGTCA, ACAACT, TTTTAAAA, TTAAT...
3     P1031912  AH20L029  ACTTAAA, GTTACGT, TTTTTGG, AATTA, ACGTTGA, CAT...
4     P1196189  AH20L010  CTTA, GTATAA, TTAAAGAATACCTC, C, CCTCCT, CCATC...
..         ...       ...                                                ...
189    P635723  AH18K044  CTT, AGTA, TAATTAAA, GAATACCT, CCCCT, CCTC, CA...
190    P677694  AH20F012  TCGC, CATCA, CCTTCATACAGTTTG, AAGTCA, TATTT, A...
191    P681070  AH18K062  TT, AAAAAAATATCGC, TCCAA, GATTATG, ACAA, CATAA...
192    P745962  AH19J028  AAAACA, GGCTTA, CTTCAT, ATAATTT, ATGAAA, TAAAC...
193    P912828  AH21A010  TTA, TTAATCGTT, TTAGA, GTAAATCC, TAATAC, TGATG...

[194 rows x 3 columns]

## Save the grouped file

In [34]:
genomicDataDir = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/genomics/'

groupedDf.to_csv(genomicDataDir + 'data_matrix_genomics.csv', index=False)

## Merge individual demographic files

In [4]:
import os

import pandas as pd

demographicsDataDir = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/ehr_demographics/'

dfs = []

for file in os.listdir(demographicsDataDir):
    if file.endswith('.csv'):
        df = pd.read_csv(demographicsDataDir + file)
        dfs.append(df[['patient_id', 'gender', 'birth_date']])

print(len(dfs))

324

In [5]:
mergedDf = pd.concat(dfs)
mergedDf

     patient_id gender  birth_date
0       2148889   male  1945-09-16
1       2148889   male  1945-09-16
2       2148889   male  1945-09-16
3       2148889   male  1945-09-16
4       2148889   male  1945-09-16
..          ...    ...         ...
111     2034458   male  1945-09-16
112     2034458   male  1945-09-16
113     2034458   male  1945-09-16
114     2034458   male  1945-09-16
115     2034458   male  1945-09-16

[17066 rows x 3 columns]

## Group the tokens for patient and tube ids

In [7]:
groupedDf = mergedDf.groupby(['patient_id']).last().reset_index()
groupedDf

     patient_id gender  birth_date
0         41308   male  1945-09-16
1         56749   male  1945-09-16
2         64921   male  1945-09-16
3         77432   male  1945-09-16
4        110792   male  1945-09-16
..          ...    ...         ...
300     2504345   male  1945-09-16
301     2514472   male  1945-09-16
302     2522101   male  1945-09-16
303     2526402   male  1945-09-16
304     2526936   male  1945-09-16

[305 rows x 3 columns]

In [8]:
genomicDataDir = '/home/vmadmin/workspace/EHR-Int-Analysis/data/case_study_1/'

groupedDf.to_csv(genomicDataDir + 'data_matrix_demographics.csv', index=False)